@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&family=Unbounded:wght@200..900&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Unbounded", sans-serif;
    font-weight: 400;
    color: #fff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100% ;
}
.wrapper {
   background: #0f0202;
background: linear-gradient(90deg, rgba(15, 2, 2, 1) 0%, rgba(17, 56, 29, 1) 50%, rgba(102, 96, 68, 1) 100%);
   width: 100%;
   height: 85vh;
}

.container {
    width: 1400px;
    margin: 0 auto;
}
header .logo{
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 900;
}
.hero {
    padding-bottom: 100px;
}
.hero--info{
    width: 530px;
    padding-top: 70px;
}

.hero--info h2 {
    color: #e87d0e;
    font-size: 20px;
    font-weight: 600;

}

